[alias]
    ci = commit -v
    co = checkout
    df = diff
    st = status
    lg = log --graph --pretty=tformat:'%Cred%h%Creset -%C(cyan)%d %Creset%s %Cgreen(%an %cr)%Creset' --abbrev-commit --date=relative
    #lg = log --color --graph --pretty=tformat:'%Cred%h%Creset -%C(auto)%d%Creset %s %Cgreen(%an %cr)%Creset' --abbrev-commit --date=relative

    changes = diff --name-status
    wdiff   = diff --word-diff

    # Cancel
    undo    = reset HEAD^ --soft
    unstage = reset HEAD --
    # The -a adds any modifications and deletions of existing files to the commit but ignores brand new files
    amend   = commit -a --amend
[branch]
    autosetuprebase = always
    rebase = true
[color]
    ui = always
[color "branch"]
    current = yellow reverse
    local   = yellow
    remote  = green
[color "diff"]
    meta       = yellow
    frag       = magenta
    old        = red
    new        = green
    whitespace = red reverse
[color "status"]
    added     = yellow
    changed   = green
    untracked = cyan
[core]
    autocrlf     = input
    editor       = vim
    excludesfile = ~/dotfiles/git/.gitignore
    pager        = less -FRSX
[credential]
    helper = cache --timeout=43200
[diff]
    mnemonicPrefix = true
    renames = true
[format]
    pretty = oneline
[help]
    autocorrect = 1
[init]
    templatedir = ~/dotfiles/git/git-templates
[log]
    abbrevCommit = true
[pull]
    rebase = preserve
[push]
    default = tracking
[rebase]
    autostash = true
[status]
    submoduleSummary = true
    showUntrackedFiles = all
[tag]
    sort = version:refname
