[alias]
    ci = commit
    co = checkout
    df = diff
    st = status

    # Log
    lg      = log --graph --pretty=tformat:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%an %cr)%Creset' --abbrev-commit --date=relative
    oneline = log --pretty=oneline --abbrev-commit --graph
    logfull = log --pretty=fuller --graph --stat -p
    lc      = !git oneline ORIG_HEAD.. --stat --no-merges

    # Diff
    changes  = diff --name-status
    dic      = diff --cached
    diffstat = diff --stat

    # Cancel
    undo    = reset --soft HEAD^
    unstage = reset HEAD --
    amend   = commit --amend

    # Add modified files
    addm = !git-ls-files -m -z | xargs -0 git-add && git status
    # Add unknown files
    addu = !git-ls-files -o --exclude-standard -z | xargs -0 git-add && git status
    # Delete marked files
    rmm  = !git ls-files -d -z | xargs -0 git-rm && git status

    wdiff = diff --word-diff

    cat          = cat-file -p
    unstage      = reset HEAD
    uncommit     = update-ref HEAD HEAD^
    uncommithard = reset --hard HEAD^
    undomerge    = reset --hard ORIG_HEAD
    oups         = commit -a --amend -C HEAD
[branch]
    autosetuprebase = always
[color]
    ui = auto
[color "branch"]
    current = yellow reverse
    local   = yellow
    remote  = green
[color "diff"]
    meta = yellow
    frag = magenta
    old  = red
    new  = green
    whitespace = red reverse
[color "status"]
    added     = yellow
    changed   = green
    untracked = cyan
[core]
    excludesfile = ~/dotfiles/.gitignore
    editor       = subl -n -w
    filemode     = false
    pager        = less -FRSX
    whitespace   = fix,-indent-with-non-tab,trailing-space,cr-at-eol
[credential]
    helper = cache --timeout=43200
[diff]
    mnemonicprefix = true
[format]
    pretty = oneline
[merge]
    log = true
[push]
    default = upstream
[rebase]
    autostash = true
[user]
    name  = Nelson da Costa
    email = ndacosta@eleven-labs.com
