# use colordiff instead of diff if available
command -v colordiff >/dev/null 2>&1 && alias diff="colordiff -u"

# use htop instead of top if installed
command -v htop >/dev/null 2>&1 && alias top=htop

alias ll='ls -lsa --color'

alias tree='tree -L 2'

#alias composer="php -d zend.enable_gc=0 /usr/local/bin/composer"

alias cli='php app/console'
alias cache='cli cache:clear && cli cache:clear --env=test'
alias routes='cli router:debug'
alias proutes='routes | peco'

alias ezcache='cd ezpublish-core && php bin/php/ezcache.php --clear-all && cd ..'

alias clog='echo "" > ~/temp/dev.log'

alias path="echo $PATH | tr ':' '\n'"

alias pecho='history | peco'

alias phps='php -S 0.0.0.0:8888'
# then just phps public/index.php
