command -v colordiff >/dev/null 2>&1 && alias diff="colordiff -u"

command -v htop >/dev/null 2>&1 && alias top=htop

# Detect which `ls` flavor is in use
if ls --color > /dev/null 2>&1; then # GNU `ls`
  colorflag="--color"
else # OS X `ls`
  colorflag="-G"
fi

alias ls='command ls ${colorflag}'
alias ll='ls -laF ${colorflag}'
alias lsd="ls -lF ${colorflag} | grep --color=never '^d'"
alias grep='grep --color=auto'

# http://www.nurkiewicz.com/2012/09/accessing-clipboard-in-linux-terminal.html
# ps | ctrlc
alias ctrlc='xclip -selection c'
alias ctrlv='xclip -selection c -o'

alias df='df -H'
alias du='du -ch'
alias path="echo $PATH | tr ':' '\n'"

alias mount='mount | column -t'
alias ping='ping -c 5'
alias wget='wget -c'

command -v php >/dev/null 2>&1 && alias sf='php app/console'
command -v php >/dev/null 2>&1 && alias cache='sf cache:clear'
command -v php >/dev/null 2>&1 && alias routes='sf router:debug'
command -v php >/dev/null 2>&1 && alias services='sf container:debug'

alias clog='echo "" > ~/www/debug.log'

alias spec='vendor/bin/phpspec'
alias unit='vendor/bin/phpunit'

alias phps='php -S 0.0.0.0:8888'
# then just phps public/index.php

alias top_process='ps -eo pcpu,pid,user,args | sort -k 1 -r | head -5'
alias hogs='for i in G M K; do du -ah | grep [0-9]$i | sort -nr -k 1; done | head -n 11'
