#!/usr/bin/env bash

export CDPATH=.:~/workspace/baruica:~/workspace/katas

[[ -r ${HOME}/.composer/vendor/bin ]] && export PATH=$PATH:~/.composer/vendor/bin

export EDITOR="code"
export VISUAL=$EDITOR

# Don't record some commands
export HISTIGNORE="&:[ ]*:exit:ls:bg:fg:history:clear"

# Use standard ISO 8601 timestamp
# %F equivalent to %Y-%m-%d
# %T equivalent to %H:%M:%S (24-hours format)
export HISTTIMEFORMAT='%F %T '

# colorful man pages
export LESS_TERMCAP_mb=$'\E[01;31m'
export LESS_TERMCAP_md=$'\E[01;31m'
export LESS_TERMCAP_me=$'\E[0m'
export LESS_TERMCAP_se=$'\E[0m'         #   end the info box
export LESS_TERMCAP_so=$'\E[01;42;30m'  # begin the info box
export LESS_TERMCAP_ue=$'\E[0m'
export LESS_TERMCAP_us=$'\E[01;32m'

export MANPAGER="less -X"               # Don't clear the screen after quitting a manual page
