export EDITOR="vim"                     # Make vim the default editor

# Make some commands not show up in history
export HISTIGNORE="* --help:cd:cd -:composer:date:exit:ll:ls:ls *:pwd:history"
export HISTCONTROL=ignoredups:erasedups
export HISTSIZE=32768                   # Larger bash history (allow 32³ entries; default is 500)
export HISTTIMEFORMAT='%F %T '          # timestamps for bash history

export GREP_OPTIONS='--color=auto'      # make grep highlight results using color

# colorful man pages
export LESS_TERMCAP_mb=$'\E[01;31m'
export LESS_TERMCAP_md=$'\E[01;31m'
export LESS_TERMCAP_me=$'\E[0m'
export LESS_TERMCAP_se=$'\E[0m'         # end the info box
export LESS_TERMCAP_so=$'\E[01;42;30m'  # begin the info box
export LESS_TERMCAP_ue=$'\E[0m'
export LESS_TERMCAP_us=$'\E[01;32m'

export MANPAGER="less -X"               # Don't clear the screen after quitting a manual page
