[user]
	name = nelson
	email = nelson.dacosta@blablacar.com
[alias]
    st = status
    lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
    wdiff = diff --word-diff
[color]
    ui = auto
    branch = auto
    diff = auto
    status = always
[color "branch"]
    current = yellow reverse
    local = yellow
    remote = green
[color "diff"]
    meta = yellow
    frag = magenta
    old = red
    new = green
[color "status"]
    added = yellow
    changed = green
    untracked = cyan
[core]
	editor = subl -n -w
    pager = less
[diff]
    mnemonicprefix = true
[pull]
    rebase = true
[rebase]
    autostash = true
