[user]
	name = nelson
	email = nelson.dacosta@blablacar.com
[alias]
    st = status
    lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
    wdiff = diff --word-diff
[color]
    ui = auto
[core]
	editor = subl -n -w
    pager = less
[diff]
    mnemonicprefix = true
[pull]
    rebase = true
[rebase]
    autostash = true
